

@font-face {
    font-family: 'toto';
    src: url('tartin01-webfont.eot') format('embedded-opentype'),
         url('tartin01-webfont.woff') format('woff'),
         url('tartin01-webfont.ttf') format('truetype'),
         url('tartin01-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-color: #FAFAFA;
	font-family: Arial, Verdana, "Times New Roman", "sans-serif";
}

#toto
{
	width: 1000px; 
	height: 1000px;
	border: 1px solid #333333;
	background-color: black;
	/*font-family: 'toto';*/
	font-family: 'Press Start 2P';
	color: white;
	font-size: 50px;
}

